<div class="container">

	<div class="jumbotron text-center">
		<h1>Pet Count <span class="label label-info">{{ petController.pets.length }}</span></h1>
	</div>

	<div class="pet-container__list row">
		<div class="col-sm-6 col-sm-offset-3">

			<div class="checkbox" ng-repeat="petObj in petController.pets">
				<label>
					<!-- exercicio -->
					<input type="checkbox" > Name: {{ petObj.name }} - Tags: {{ petObj.tags }}
					<button type="submit" class="btn btn-primary btn-lg pet-container__btn" ng-click="petController.deletePet(petObj.id)">Delete Pet</button>
					<button type="submit" class="btn btn-primary btn-lg pet-container__btn" ng-click="petController.goToOrder(petObj.id)">Add Order</button>
				</label>
			</div>

		</div>
	</div>
	
	<div class="pet-container__form row">
		<div class="col-sm-8, col-sm-offset-2, text-center">
			<form>
				<div class="form-group">
					<input type="text" class="form-control input-lg text-center" placeholder="Enter with a text" ng-model="petController.formData.name">
				</div>

				<button type="submit" class="btn btn-primary btn-lg" ng-click="petController.createPet()">Add</button>
			</form>
		</div>
	</div>
</div>